[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sree77726
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sree77726
	label-Verified = -1..+1 group user/sree77726
	push = group user/sree77726
	read = group user/sree77726
	rebase = group user/sree77726
	removeReviewer = group user/sree77726
	submit = group user/sree77726
[access "refs/heads/*"]
	create = group user/sree77726
	push = +force group user/sree77726
	pushMerge = group user/sree77726
	read = group user/sree77726
[access "refs/tags/*"]
	push = group user/sree77726
	push = +force group user/sree77726
